<!-- <form (submit)="onRegister()" [formGroup]="registerForm" class="form-horizontal">
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" name="nom" class="form-control " id="nom" formControlName="nom" required autofocus />
    </div>
    <div class="form-group">
        <label for="nom">Prénom:</label>
        <input type="text" name="prenom" class="form-control " id="prenom" formControlName="prenom" required />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control " id="email" formControlName="email" (blur)="checkEmailUnicite(email)"
            required />
    </div>
    <div class="form-group">
        <label for="numTel">numTel:</label>
        <input type="text" name="numTel" class="form-control " id="numTel" formControlName="numTel" required />
    </div>
    <div formGroupName="passwords">
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" name="password" class="form-control " id="password" formControlName="password" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmation:</label>
            <input type="password" name="confirmPassword" class="form-control " id="confirmPassword" formControlName="confirmPassword"
                required />
        </div>
    </div>
    <div formGroupName="adresse">
        <div class="form-group">
            <label for="rue">Rue:</label>
            <input type="text" name="rue" class="form-control " id="rue" formControlName="rue" required />
        </div>
        <div class="form-group">
            <label for="complementAdresse">Complément adresse:</label>
            <input type="text" name="complementAdresse" class="form-control " id="complementAdresse" formControlName="complementAdresse"
            />
        </div>
        <div class="form-group">
            <label for="cp">Code postal:</label>
            <input type="text" name="cp" class="form-control " id="cp" formControlName="cp" required />
        </div>
        <div class="form-group">
            <label for="ville">Ville:</label>
            <input type="text" name="ville" class="form-control " id="ville" formControlName="ville" required />
        </div>
    </div>
    <button [disabled]="!registerForm.valid || processing || verifEmailUnicite" type="submit" class="btn btn-success">Sign up</button>
</form> -->
<span class="col-sm-3 col-md-3 col-lg-3 col-xs-2"></span>

<mat-card class="col-sm-6 col-md-6 col-lg-6 col-xs-8" style="background-color: rgb(255, 246, 234);">
    <form (submit)="onRegister()" [formGroup]="registerForm">
        <mat-card-header>
            <mat-card-title style="font-size: 40px;">Créer un compte</mat-card-title>
            <mat-card-subtitle class="email-already-exists" *ngIf="verifEmailUnicite">Un compte avec cet adresse email existe déjà.
                <a routerLink="/login" (click)="onLogin()">Se connecter ?</a>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="register-container">
            <!-- Common data -->
            <table class="container-width">
                <tr>
                    <td>
                        <mat-form-field class="input">
                            <input matInput type="text" placeholder="Nom" formControlName="nom" autofocus required>
                            <mat-error class="error" *ngIf="registerForm.controls.nom.errors">{{getErrorMessage('nom')}}</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input">
                            <input matInput type="text" placeholder="Prénom" formControlName="prenom" required>
                            <mat-error class="error" *ngIf="registerForm.controls.prenom.errors">{{getErrorMessage('prenom')}}</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input">
                            <input matInput type="email" placeholder="Email" formControlName="email" (blur)="checkEmailUnicite()" required>
                            <mat-error class="error" *ngIf="registerForm.controls.email.errors">{{getErrorMessage('email')}}</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input">
                            <input matInput type="text" placeholder="Téléphone" formControlName="numTel" required>
                            <mat-error class="error" *ngIf="registerForm.controls.numTel.errors">{{getErrorMessage('numTel')}}</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <!-- /Common data -->

            <!-- Passwords formGroup -->
            <table class="container-width" formGroupName="passwords">
                <tr>
                    <td>
                        <mat-form-field class="input">
                            <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
                            <mat-error class="error" *ngIf="passwords.controls.password.errors">{{getErrorMessage('password')}}</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input">
                            <input matInput type="password" placeholder="Confirmation" formControlName="confirmPassword" required>
                            <mat-error class="error" *ngIf="passwords.controls.confirmPassword.errors">{{getErrorMessage('confirmPassword')}}</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <!-- /Passwords formGroup -->

            <!-- Error Passwords Not Match -->
            <span class="passwords-error" *ngIf="registerForm.controls.passwords.errors && passwords.controls.password.touched && !passwords.controls.confirmPassword.pristine">{{getErrorMessage('passwords')}}</span>

            <!-- Adresse formGroup -->
            <div formGroupName="adresse">
                <mat-form-field class="container-width">
                    <textarea matInput type="text" placeholder="Adresse" formControlName="rue" required></textarea>
                    <mat-error class="error" *ngIf="adresse.controls.rue.errors">{{getErrorMessage('rue')}}</mat-error>
                </mat-form-field>

                <table class="container-width">
                    <tr>
                        <td>
                            <mat-form-field class="input">
                                <input matInput type="text" placeholder="Complément adresse" formControlName="complementAdresse" required>
                                <mat-error class="error" *ngIf="adresse.controls.complementAdresse.errors">{{getErrorMessage('complementAdresse')}}</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input">
                                <input matInput type="text" placeholder="Ville" formControlName="ville" required>
                                <mat-error class="error" *ngIf="adresse.controls.ville.errors">{{getErrorMessage('ville')}}</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input">
                                <input matInput type="text" #cp maxlength="5" placeholder="Code postal" formControlName="cp" required>
                                <mat-hint align="end">{{cp.value.length}} / 5</mat-hint>
                                <mat-error class="error" *ngIf="adresse.controls.cp.errors">{{getErrorMessage('cp')}}</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </div>
            <!-- /Adresse FormGroup -->

        </mat-card-content>
        <!-- Button -->
        <mat-card-actions>
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></span>
            <span class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

                <button mat-raised-button [disabled]="!registerForm.valid || processing || verifEmailUnicite" type="submit" color="primary">S'enregistrer</button>
                <a routerLink="/login" class="login-link">Déjà un compte ? Se connecter</a>

            </span>
            <span class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></span>
        </mat-card-actions>
        <!-- /Button -->
    </form>
</mat-card>

<span class="col-sm-3 col-md-3 col-lg-3 col-xs-2"></span>