<h2 class="page-header">Mot de passe oublié ?</h2>
<p>Entrez votre adresse email pour réinitialiser votre mot de passe.</p>
<form class="form-inline" (submit)="forgotPassword()" [formGroup]="forgotPasswordForm">
  <input type="text" class="form-control input-lg" formControlName="email" size="50" name="email" placeholder="Email" autofocus
    required>
  <button [disabled]="!forgotPasswordForm.valid || processing" type="submit" style="margin-left:5px;" class="btn btn-lg btn-success">Soumettre</button>
</form>
<br>
<br>
<div *ngIf="requestSubmitted" class="container">
  Un email vient d'être envoyé à l'adresse {{adresseEmail}}. Vérifier votre
  <a href="{{emailUrl}}">boîte de réception</a>.
</div>